{{#* inline "combatantControls" parameter=isGM}}
<img class="token-image" data-src="{{this.img}}" title="{{this.name}}"/>
<div class="token-name flexcol">
  <h4>{{this.name}}</h4>
  <div class="combatant-controls flexrow">
    {{#if isGM}}
    <a class="combatant-control {{#if this.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
      <i class="fas fa-eye-slash"></i></a>
    <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
      <i class="fas fa-skull"></i></a>
    {{/if}}
    <div class="token-effects">
      {{#each this.effects}}
      <img class="token-effect" src="{{this.data.icon}}"/>
      {{/each}}
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "actorEntry" parameter=isGM}}
<li class="combatant actor directory-item flexrow {{this.css}}" data-combatant-id="{{this.id}}">
  <img class="token-image" data-src="{{this.img}}" title="{{this.name}}"/>
  <div class="token-name flexcol">
    <h4>{{this.name}}</h4>
    <div class="combatant-controls flexrow">
      {{#if isGM}}
      <a class="combatant-control {{#if this.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
        <i class="fas fa-eye-slash"></i></a>
      <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
        <i class="fas fa-skull"></i></a>
      {{/if}}

      <span class="combatant-control tooltip
      {{#unless this.usedMoveAction}}active{{/unless}}" style="margin-left: 8px">
      <i class="fas fa-shoe-prints"></i>
         <span class="tooltipcontent"
               style="z-index: 1000; max-width: 150px">{{localize "D35E.MoveAction"}} {{#unless this.usedMoveAction}}{{localize "D35E.Available"}}{{else}}{{localize "D35E.Unavailable"}}{{/unless}}</span>

      </span>
      <span class="combatant-control tooltip
      {{#unless this.usedAttackAction}}active{{/unless}}">
      <i class="fas fa-fist-raised"></i>
         <span class="tooltipcontent"
               style="z-index: 1000; max-width: 150px">{{localize "D35E.AttackAction"}} {{#unless this.usedAttackAction}}{{localize "D35E.Available"}}{{else}}{{localize "D35E.Unavailable"}}{{/unless}}</span>

      </span>
      <span class="combatant-control tooltip
      {{#unless this.usedSwiftAction}}active{{/unless}}">
      <i class="fas fa-bolt"></i>
        <span class="tooltipcontent"
              style="z-index: 1000; max-width: 150px">{{localize "D35E.SwiftAction"}} {{#unless this.usedSwiftAction}}{{localize "D35E.Available"}}{{else}}{{localize "D35E.Unavailable"}}{{/unless}}</span>

      </span>
      <span class="combatant-control tooltip
      {{#unless this.usedAllAao}}active{{/unless}}">
        <i class="fas fa-surprise"></i>
        <span class="tooltipcontent"
              style="z-index: 1000; max-width: 150px">{{localize "D35E.AttackOfOpportunity"}} {{#unless this.usedAllAao}}{{localize "D35E.Available"}}{{else}}{{localize "D35E.Unavailable"}}{{/unless}}</span>
      </span>
      <div class="token-effects">
        {{#each this.effects}}
        <img class="token-effect" src="{{this.data.icon}}"/>
        {{/each}}
      </div>
    </div>
  </div>

  {{#if this.hasResource}}
  <div class="token-resource">
    <span class="resource">{{this.resource}}</span>
  </div>
  {{/if}}

  <div class="token-initiative">
    {{#if this.hasRolled}}
    <span class="initiative">{{this.initiative}}</span>
    {{else if this.owner}}
    <a class="combatant-control roll" title="{{localize 'COMBAT.InitiativeRoll'}}" data-control="rollInitiative"></a>
    {{/if}}
  </div>
</li>
{{/inline}}

{{#*inline "buffEntry" parameter=isGM}}
<li class="combatant actor directory-item flexrow {{this.css}}" data-combatant-id="{{this.id}}">
  <img class="token-image" data-src="{{this.img}}" title="{{this.name}}"/>
  <div class="token-name flexcol">
    <h4>{{this.name}} (on {{this.actorName}})</h4>
    <div class="combatant-controls flexrow">
      {{#if isGM}}
      <a class="combatant-control {{#if this.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
        <i class="fas fa-eye-slash"></i></a>
      <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
        <i class="fas fa-skull"></i></a>
      {{/if}}
      <div class="token-effects">
        <img class="token-effect" src="{{this.actorImage}}"/>
      </div>
    </div>
  </div>


</li>
{{/inline}}

{{#*inline "dropEntry" parameter=isGM}}
<li class="combatant actor drop-entry" data-combatant-id="{{this.id}}">
  <img src="{{this.img}}" class="actor-drop-img" width="48px" title="{{this.name}}"/>
  <img src="icons/svg/item-bag.svg" class="drop-hover" width="48px" title="Roll Drop for {{this.name}}"/>
</li>
{{/inline}}

<section class="tab sidebar-tab directory flexcol nova" id="combat" data-tab="combat">
  <header id="combat-round">
    {{#if user.isGM}}
    <nav class="encounters flexrow">
      <a class="combat-create" title="{{localize 'COMBAT.Create'}}">
        <i class="fas fa-plus"></i>
      </a>
      {{#if combatCount}}
      <a class="combat-cycle" title="{{localize 'COMBAT.EncounterPrevious'}}"
         {{#if previousId}}data-combat-id="{{previousId}}"{{else}}disabled{{/if}}>
      <i class="fas fa-caret-left"></i>
      </a>
      <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
      <a class="combat-cycle" title="{{localize 'COMBAT.EncounterNext'}}"
         {{#if nextId}}data-combat-id="{{nextId}}"{{else}}disabled{{/if}}>
      <i class="fas fa-caret-right"></i>
      </a>
      {{/if}}
      <a class="combat-control" title="{{localize 'COMBAT.Delete'}}" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
      <i class="fas fa-trash"></i>
      </a>
    </nav>
    {{/if}}

    <nav class="encounters flexrow">
      {{#if user.isGM}}
      <a class="combat-control" title="{{localize 'COMBAT.RollAll'}}" data-control="rollAll" {{#unless turns}}disabled{{/unless}}>
      <i class="fas fa-users"></i>
      </a>
      <a class="combat-control" title="{{localize 'COMBAT.RollNPC'}}" data-control="rollNPC" {{#unless turns}}disabled{{/unless}}>
      <i class="fas fa-users-cog"></i>
      </a>
      {{/if}}

      {{#if combatCount}}
      {{#if combat.data.round}}
      <h3>{{localize 'COMBAT.Round'}} {{combat.data.round}}</h3>
      {{else}}
      <h3>{{localize 'COMBAT.NotStarted'}}</h3>
      {{/if}}
      {{else}}
      <h3>{{localize "COMBAT.None"}}</h3>
      {{/if}}

      {{#if user.isGM}}
      <a class="combat-control" title="{{localize 'COMBAT.InitiativeReset'}}" data-control="resetAll"
         {{#unless hasCombat}}disabled{{/unless}}>
      <i class="fas fa-undo"></i>
      </a>
      <a class="combat-control" title="{{labels.scope}}"
         data-control="toggleSceneLink" {{#unless hasCombat}}disabled{{/unless}}>
      <i class="fas fa-{{#unless linked}}un{{/unless}}link"></i>
      </a>
      <a class="combat-settings" title="{{localize 'COMBAT.Settings'}}" data-control="trackerSettings">
        <i class="fas fa-cog"></i>
      </a>
      {{/if}}
    </nav>
  </header>

  <ol id="combat-tracker" class="directory-list">
    {{#if hasCombat}}
    <h4 class="flexrow {{playerStyle}}">{{localize 'D35E.CombatCombatants'}}</h4>
    {{#each turns.actor}}
    {{> actorEntry isGM=../user.isGM}}
    {{/each}}
    <h4 class="flexrow {{gmStyle}}">{{localize 'D35E.CombatBuffsExpiringNextRound'}}</h4>
    {{#each nextTurnBuffs}}
    {{#unless this.zeroHp}}
    {{> buffEntry isGM=../user.isGM}}
    {{/unless}}
    {{/each}}
    {{/if}}
  </ol>


  {{#if user.isGM}}
  <ol id="combat-sheet" class="D35E sheet actor npc monster sidebar">
  <template id="actor-combat-sheet"></template>
  </ol>
  {{/if}}


  <nav id="combat-controls" class="directory-footer flexrow">
    {{#if hasCombat}}
    {{#if user.isGM}}
    {{#if round}}
    <a class="combat-control" title="{{localize 'COMBAT.RoundPrev'}}" data-control="previousRound"><i class="fas fa-step-backward"></i></a>
    <a class="combat-control" title="{{localize 'COMBAT.TurnPrev'}}" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
    <a class="combat-control center" title="{{localize 'COMBAT.End'}}" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
    <a class="combat-control" title="{{localize 'COMBAT.TurnNext'}}" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
    <a class="combat-control" title="{{localize 'COMBAT.RoundNext'}}" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
    {{else}}
    <a class="combat-control center" title="{{localize 'COMBAT.Begin'}}" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
    {{/if}}
    {{else if control}}
    <a class="combat-control" title="{{localize 'COMBAT.TurnPrev'}}" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
    <a class="combat-control center" title="{{localize 'COMBAT.TurnEnd'}}" data-control="nextTurn">{{localize 'COMBAT.TurnEnd'}}</a>
    <a class="combat-control" title="{{localize 'COMBAT.TurnNext'}}" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
    {{/if}}
    {{/if}}
  </nav>
</section>
